{%- style -%}
  .masonry-with-columns {
    display: flex;
    flex-wrap: wrap;
  }
{%- endstyle -%}

<div class="isolate masonry-with-columns">
  {%- for block in section.blocks -%}
    {%- if block.settings.collection.featured_image != null -%}
      {%- assign card_id = 'card-' | append: section.id | append: forloop.index %}
      {% render 'card-collection-plds',
        id: card_id,
        card_collection: block.settings.collection,
        media_aspect_ratio: 'adapt'
      %}
    {%- endif -%}
  {%- endfor -%}
  {}
</div>
