
.plds-card-wrapper{
  display: flex;
  position: relative;
  margin-top: 10rem;
  justify-content: space-between;
  width: 100%;
}

.sidebar {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  background: brown;
  width: 18%;
  height: fit-content;
}

@media only screen and (max-width: 749px){
  .sidebar {
    min-width: 30vw;
  }
}
@media only screen and (min-width: 750px){
  .sidebar {
    min-width: 30rem;
  }
}
@media only screen and (min-width: 990px){
  .sidebar {
    min-width: 25rem;
  }
}

.card-img-container {
  display: flex!important;
  width: 80%;
  height: 100%;
  overflow: hidden;
}


.collection-card-overlay {
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0.1);
  inset: 0;
  overflow: hidden;
  z-index: 2;
}

@media only screen and (max-width: 749px){
  .collection-card-overlay {
    padding: 2rem;
  }
}
@media only screen and (min-width: 750px){
  .collection-card-overlay {
    padding: 3rem;
  }
}
@media only screen and (min-width: 990px){
  .collection-card-overlay {
    padding: 4rem;
  }
}

.collection-card-content {
  transition: ease-in .15s;
  transform: translateX(0);
  color: inherit;
  opacity: 1;
  /* min-height: 40rem; */
  height: fit-content;
  width: 50rem;
  max-width: 100%;
}

.collection-card-content > * {
  color: inherit;
  text-decoration: none;
}

.collection-card-content > h2 {
  margin-top: 0;
  margin-bottom: .25rem;
  text-decoration: none;
}

.collection-card-information {
  transition: ease-in .15s;
  color: transparent;
  opacity: 0;
  /* transform: translateY(50%); */
}

.plds-card-wrapper:hover {
  cursor: pointer;
}

.plds-card-wrapper:hover .collection-card-content, .plds-card-wrapper:focus .collection-card-content {
  transform: translateY(-8px);
}

.plds-card-wrapper:hover .collection-card-information, .collection-card-information > p {
  opacity: 1;
  color: inherit;
}

.plds-card-wrapper:focus .collection-card-information, .collection-card-information > p {
  opacity: 1;
  color: inherit;
}

@media (max-width: 749px){
  .collection-card-content {
    top: 0;
  }
}