.plds-card-wrapper {
  position: relative;
  width: 100%;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
  height: fit-content;
  bottom: 10px;
  width: 100%;
}

.card-img-container {
  display: flex !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.collection-card-overlay {
  display: flex;
  background: rgba(0, 0, 0, 0.1);
  inset: 0;
  overflow: hidden;
  height: fit-content;
  z-index: 2;
  position: absolute;
  color: white;
  height: 100%;
  width: 100%;
}

.collection-card-content {
  padding: 1.5rem;
  transition: ease-in .13s;
  transform: translateX(0);
  color: inherit;
  opacity: 1;
  min-width: 50px;
  height: fit-content;
  width: fit-content;
}

.collection-card-content>* {
  color: inherit;
  text-decoration: none;
}

.collection-card-content>h2 {
  margin-top: 0;
  margin-bottom: .25rem;
  text-decoration: none;
  transition: ease-in .15s;
  /* transition-delay: .07s; */
}

/* #DDEDD6, #e2eff9, #ffe2d8, #121212 */

.collection-card-information {
  transition: ease-in .15s;
  color: transparent;
  opacity: 0;
}

.plds-card-wrapper:hover {
  cursor: pointer;
}

.plds-card-wrapper:hover .collection-card-content,
.plds-card-wrapper:focus .collection-card-content {
  transform: translateY(-5px);
  background-color: #fffdfd;
}

.plds-card-wrapper:hover .collection-card-title {
  color: black;
}

.plds-card-wrapper:focus .collection-card-title {
  color: black;
}

.plds-card-wrapper:hover .collection-card-information,
.collection-card-information>p {
  opacity: 1;
  color: black;
}

.plds-card-wrapper:focus .collection-card-information,
.collection-card-information>p {
  opacity: 1;
  color: black;
}

.plds-card-wrapper:hover .arrow-overlay>i,
.plds-card-wrapper:focus .arrow-overlay>i {
  opacity: 1;
}


@media (max-width: 749px) {
  .collection-card-content {
    top: 0;
  }
}

@media only screen and (max-width: 749px) {
  .plds-card-wrapper {
    flex-direction: column;
  }

  .collection-card-overlay {
    padding: 1rem;
  }

  .collection-card-content {
    transform: translateY(-5px);
    opacity: 1;
    background-color: #fffdfd;
    color: black;
  }
}

@media only screen and (min-width: 750px) {
  .plds-card-wrapper {
    flex-direction: row;
  }

  .collection-card-overlay {
    padding: 2rem;
  }
}

@media only screen and (min-width: 990px) {
  .collection-card-content {
    max-width: 30rem;
  }

  .collection-card-overlay {
    padding: 3rem;
    /* width: 25%; */
  }
}

@media only screen and (min-width: 1200px) {
  .collection-card-overlay {
    padding: 4rem;
  }
}

@media only screen and (min-width: 1500px) {
  .collection-card-content {
    max-width: 35rem;
  }
}

@media screen and (max-width: 989px) {
  .slideUp {
    display: none;
  }
}