.plds-card-wrapper {
  display: flex;

  width: 100%;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
  height: fit-content;
  bottom: 10px;
  width: 100%;
}

.card-img-container {
  display: flex !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.arrow-overlay i {
  color: white;
  opacity: 0;
  width: 3rem;
  transition: opacity .25s ease;
  height: auto;
}

.collection-card-overlay {
  display: flex;
  background: rgba(0, 0, 0, 0.1);
  inset: 0;
  overflow: hidden;
  height: fit-content;
  z-index: 2;
}

@media only screen and (max-width: 749px) {
  .plds-card-wrapper {
    flex-direction: column;
  }

  .sidebar {
    position: relative;
  }

  .collection-card-overlay {
    /* padding: 2rem; */
    width: 80%;
  }
}

@media only screen and (min-width: 750px) {
  .plds-card-wrapper {
    flex-direction: row;
  }

  .sidebar {
    position: absolute;
    top: 10px;
  }

  .collection-card-overlay {
    padding: 3rem;
    width: 50%;
  }
}

@media only screen and (min-width: 990px) {
  .collection-card-overlay {
    padding: 4rem;
    width: 25%;
  }
}

@media only screen and (min-width: 1500px) {
  .collection-card-overlay {
    width: 18%;
  }
}

.collection-card-content {
  transition: ease-in .15s;
  transform: translateX(0);
  color: inherit;
  opacity: 1;
  height: fit-content;
  width: 50rem;
  max-width: 100%;
}

.collection-card-content>* {
  color: inherit;
  text-decoration: none;
}

.collection-card-content>h2 {
  margin-top: 0;
  margin-bottom: .25rem;
  text-decoration: none;
}

.collection-card-information {
  transition: ease-in .15s;
  color: transparent;
  opacity: 0;
}

.plds-card-wrapper:hover {
  cursor: pointer;
}

.plds-card-wrapper:hover .collection-card-content,
.plds-card-wrapper:focus .collection-card-content {
  transform: translateY(-8px);
}

.plds-card-wrapper:hover .collection-card-information,
.collection-card-information>p {
  opacity: 1;
  color: inherit;
}

.plds-card-wrapper:focus .collection-card-information,
.collection-card-information>p {
  opacity: 1;
  color: inherit;
}

.plds-card-wrapper:hover .arrow-overlay>i,
.plds-card-wrapper:focus .arrow-overlay>i {
  opacity: 1;
}


@media (max-width: 749px) {
  .collection-card-content {
    top: 0;
  }
}