
.plds-card-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  transition: ease-in .5s;
}

.card-img-container {
  height: 60vh;
  width: 100%;
}

/* .card-img-container > img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
} */

.collection-card-content {
  position: absolute;
  top: 15%;
  right: 0;
  padding: 5rem;
  transition: ease-in .15s;
  transform: translateX(0);
}

.collection-card-content > * {
  text-align: right;
  max-width: 20em;
}

.collection-card-content h1 {
  color: white;
  margin-bottom: .25rem;
}

.collection-card-information {
  transition: ease-in .15s;
  color: transparent;
  opacity: 0;
  /* transform: translateY(50%); */
}

.plds-card-wrapper:hover {
  cursor: pointer;
}

.plds-card-wrapper:hover .collection-card-content {
  transform: translateY(-5%);
}

.plds-card-wrapper:hover .collection-card-information, .collection-card-information > p {
  color: white;
  opacity: 1;
  /* transform: translateY(0) */
}

@media (max-width: 749px){
  .collection-card-content {
    top: 0;
  }
}