.page-title {
  margin-top: 0;
}

.main-page-title {
  /* margin-bottom: 3rem; */
  padding: 3rem;
}

.banner__content--top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.banner__content--top-center {
  align-items: flex-start;
  justify-content: center;
}

.banner__content--top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.banner__content--middle-left {
  align-items: center;
  justify-content: flex-start;
}

.banner__content--middle-center {
  align-items: center;
  justify-content: center;
}

.banner__content--middle-right {
  align-items: center;
  justify-content: flex-end;
}

.banner__content--bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.banner__content--bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.banner__content--bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    /* margin-bottom: 4rem; */
  }
  
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
