.page-title {
  margin-top: 0;
}

.main-page-title {
  padding: 3rem;
}

.title__content--top-left {
  align-items: flex-start;
}

.title__content--top-center {
  align-items: flex-start;
}

.title__content--top-right {
  align-items: flex-start;
}

.title__content--middle-left {
  align-items: center;
}

.title__content--middle-center {
  align-items: center;
}

.title__content--middle-right {
  align-items: center;
}

.title__content--bottom-left {
  align-items: flex-end;
}

.title__content--bottom-center {
  align-items: flex-end;
}

.title__content--bottom-right {
  align-items: flex-end;
}

.title__content--top-left > .heading-banner, .title__content--middle-left > .heading-banner, .title__content--bottom-left > .heading-banner {
  justify-content: flex-start;
}

.title__content--top-center > .heading-banner, .title__content--middle-center > .heading-banner, .title__content--bottom-center > .heading-banner {
  justify-content: center;
}

.title__content--top-right > .heading-banner, .title__content--middle-right > .heading-banner, .title__content--bottom-right > .heading-banner {
  justify-content: flex-end;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
